In [1]:
import os
import csv
import pandas as pd
import numpy as np


happy2015_df = pd.read_csv('2015.csv')
happy2016_df = pd.read_csv('2016.csv')
happy2017_df = pd.read_csv('2017.csv')
happy2018_df = pd.read_csv('2018.csv')
happy2019_df = pd.read_csv('2019.csv')
#the survey changed over the years, so we need to clean the data up.
norm2015_df = happy2015_df.drop(['Region', 'Standard Error', 'Dystopia Residual'], axis=1)
norm2015_df = norm2015_df[['Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity']]
norm2015_df.columns = ["Country or Region", "Happiness Rank", "Happiness Score", "GDP per Capita", "Social Support", "Healthy Life Expectancy", "Freedom", "Trust", "Generosity"]

norm2016_df = happy2016_df.drop(['Region','Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual'], axis=1)
norm2016_df = norm2016_df[['Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity']]
norm2016_df.columns = ["Country or Region", "Happiness Rank", "Happiness Score", "GDP per Capita", "Social Support", "Healthy Life Expectancy", "Freedom", "Trust", "Generosity"]

norm2017_df = happy2017_df.drop(['Whisker.high', 'Whisker.low', 'Dystopia.Residual'], axis=1)
norm2017_df = norm2017_df[['Country', 'Happiness.Rank', 'Happiness.Score', 'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.', 'Freedom', 'Trust..Government.Corruption.', 'Generosity']]
norm2017_df.columns = ["Country or Region", "Happiness Rank", "Happiness Score", "GDP per Capita", "Social Support", "Healthy Life Expectancy", "Freedom", "Trust", "Generosity"]

#norm2015_df = norm2015_df[['Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)', 'Generosity']]

#happy2018_df.head()
norm2018_df = happy2018_df[['Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption', 'Generosity']]
norm2018_df.columns = ["Country or Region", "Happiness Rank", "Happiness Score", "GDP per Capita", "Social Support", "Healthy Life Expectancy", "Freedom", "Trust", "Generosity"]
#norm2018_df
norm2019_df = happy2019_df[['Country or region', 'Overall rank', 'Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Perceptions of corruption', 'Generosity']]
norm2019_df.columns = ["Country or Region", "Happiness Rank", "Happiness Score", "GDP per Capita", "Social Support", "Healthy Life Expectancy", "Freedom", "Trust", "Generosity"]
norm2019_df

,Country or Region,Happiness Rank,Happiness Score,GDP per Capita,Social Support,Healthy Life Expectancy,Freedom,Trust,Generosity
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322
...,...,...,...,...,...,...,...,...,...
151,Rwanda,152,3.334,0.359,0.711,0.614,0.555,0.411,0.217
152,Tanzania,153,3.231,0.476,0.885,0.499,0.417,0.147,0.276
153,Afghanistan,154,3.203,0.350,0.517,0.361,0.000,0.025,0.158
154,Central African Republic,155,3.083,0.026,0.000,0.105,0.225,0.035,0.235
155,South Sudan,156,2.853,0.306,0.575,0.295,0.010,0.091,0.202

In [14]:
# setting up the 5 df (one for each year)for an easy merge of years just with the varaibles TRUST
#2015 Trust
country_rank_trust_2015 = norm2015_df[["Country or Region", "Happiness Rank", "Happiness Score","Trust"]]
country_rank_trust_2015 = country_rank_trust_2015.set_index("Country or Region")
#2016 Trust
country_rank_trust_2016 = norm2016_df[["Country or Region", "Happiness Rank", "Happiness Score","Trust"]]
country_rank_trust_2016 = country_rank_trust_2016.set_index("Country or Region")
#2017 Trust
country_rank_trust_2017 = norm2017_df[["Country or Region", "Happiness Rank", "Happiness Score","Trust"]]
country_rank_trust_2017 = country_rank_trust_2017.set_index("Country or Region")
#2018 Trust
country_rank_trust_2018 = norm2018_df[["Country or Region", "Happiness Rank", "Happiness Score","Trust"]]
country_rank_trust_2018 = country_rank_trust_2018.set_index("Country or Region")
#2019 Trust
country_rank_trust_2019 = norm2019_df[["Country or Region", "Happiness Rank", "Happiness Score","Trust"]]
country_rank_trust_2019 = country_rank_trust_2019.set_index("Country or Region")

In [15]:
# setting up the 5 df (one for each year)for an easy merge of years just with the varaibles LIFE EXPECTANCY
#2015 LIFE EXPECTANCY (LE)
country_rank_LE_2015 = norm2015_df[["Country or Region", "Happiness Rank", "Happiness Score","Healthy Life Expectancy"]]
country_rank_LE_2015 = country_rank_LE_2015.set_index("Country or Region")
#2016 LIFE EXPECTANCY (LE)
country_rank_LE_2016 = norm2016_df[["Country or Region", "Happiness Rank", "Happiness Score","Healthy Life Expectancy"]]
country_rank_LE_2016 = country_rank_LE_2016.set_index("Country or Region")
#2017 LIFE EXPECTANCY (LE)
country_rank_LE_2017 = norm2017_df[["Country or Region", "Happiness Rank", "Happiness Score","Healthy Life Expectancy"]]
country_rank_LE_2017 = country_rank_LE_2017.set_index("Country or Region")
#2018 LIFE EXPECTANCY (LE)
country_rank_LE_2018 = norm2018_df[["Country or Region", "Happiness Rank", "Happiness Score","Healthy Life Expectancy"]]
country_rank_LE_2018 = country_rank_LE_2018.set_index("Country or Region")
#2019 LIFE EXPECTANCY (LE)
country_rank_LE_2019 = norm2019_df[["Country or Region", "Happiness Rank", "Happiness Score","Healthy Life Expectancy"]]
country_rank_LE_2019 = country_rank_LE_2019.set_index("Country or Region")

In [23]:
# merging the dataframes for TRUST
trust_2015and2016 = country_rank_trust_2015.merge(country_rank_trust_2016, on="Country or Region")
trust_2015and2016_2017 = trust_2015and2016.merge(country_rank_trust_2017, on="Country or Region")
trust_2015and2016_2017_2018 = trust_2015and2016_2017.merge(country_rank_trust_2018, on="Country or Region")
trust_merged = trust_2015and2016_2017_2018.merge(country_rank_trust_2019, on="Country or Region")
trust_merged.columns = ["Happiness Rank 2015", "Happiness Score 2015", "Trust 2015", "Happiness Rank 2016", "Happiness Score 2016", "Trust 2016","Happiness Rank 2017", "Happiness Score 2017", "Trust 2017","Happiness Rank 2018", "Happiness Score 2018", "Trust 2018","Happiness Rank 2019", "Happiness Score 2019", "Trust 2019"]
trust_merged

,Happiness Rank 2015,Happiness Score 2015,Trust 2015,Happiness Rank 2016,Happiness Score 2016,Trust 2016,Happiness Rank 2017,Happiness Score 2017,Trust 2017,Happiness Rank 2018,Happiness Score 2018,Trust 2018,Happiness Rank 2019,Happiness Score 2019,Trust 2019
Country or Region,,,,,,,,,,,,,,,
Switzerland,1,7.587,0.41978,2,7.509,0.41203,4,7.494,0.367007,5,7.487,0.357,6,7.480,0.343
Iceland,2,7.561,0.14145,3,7.501,0.14975,3,7.504,0.153527,4,7.495,0.138,4,7.494,0.118
Denmark,3,7.527,0.48357,1,7.526,0.44453,2,7.522,0.400770,3,7.555,0.408,2,7.600,0.410
Norway,4,7.522,0.36503,4,7.498,0.35776,1,7.537,0.315964,2,7.594,0.340,3,7.554,0.341
Canada,5,7.427,0.32957,6,7.404,0.31329,7,7.316,0.287372,7,7.328,0.291,9,7.278,0.308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Rwanda,154,3.465,0.55191,152,3.515,0.50521,151,3.471,0.455220,151,3.408,0.444,152,3.334,0.411
Benin,155,3.340,0.08010,153,3.484,0.06681,143,3.657,0.060929,136,4.141,0.067,102,4.883,0.082
Syria,156,3.006,0.18906,156,3.069,0.17233,152,3.462,0.151347,150,3.462,0.144,149,3.462,0.141
Burundi,157,2.905,0.10062,157,2.905,0.09419,154,2.905,0.084148,156,2.905,0.076,145,3.775,0.180
Togo,158,2.839,0.10731,155,3.303,0.11587,150,3.495,0.095665,139,3.999,0.101,139,4.085,0.085

In [24]:
# merging the dataframes for Life Expectancy
le_2015and2016 = country_rank_LE_2015.merge(country_rank_LE_2016, on="Country or Region")
le_2015and2016_2017 = le_2015and2016.merge(country_rank_LE_2017, on="Country or Region")
le_2015and2016_2017_2018 = le_2015and2016_2017.merge(country_rank_LE_2018, on="Country or Region")
le_merged = le_2015and2016_2017_2018.merge(country_rank_LE_2019, on="Country or Region")
le_merged.columns = ["Happiness Rank 2015", "Happiness Score 2015", "Healthy Life Expectancy 2015", "Happiness Rank 2016", "Happiness Score 2016", "Healthy Life Expectancy 2016","Happiness Rank 2017", "Happiness Score 2017", "Healthy Life Expectancy 2017","Happiness Rank 2018", "Happiness Score 2018", "Healthy Life Expectancy 2018","Happiness Rank 2019", "Happiness Score 2019", "Healthy Life Expectancy 2019"]
le_merged

,Happiness Rank 2015,Happiness Score 2015,Healthy Life Expectancy 2015,Happiness Rank 2016,Happiness Score 2016,Healthy Life Expectancy 2016,Happiness Rank 2017,Happiness Score 2017,Healthy Life Expectancy 2017,Happiness Rank 2018,Happiness Score 2018,Healthy Life Expectancy 2018,Happiness Rank 2019,Happiness Score 2019,Healthy Life Expectancy 2019
Country or Region,,,,,,,,,,,,,,,
Switzerland,1,7.587,0.94143,2,7.509,0.86303,4,7.494,0.858131,5,7.487,0.927,6,7.480,1.052
Iceland,2,7.561,0.94784,3,7.501,0.86733,3,7.504,0.833552,4,7.495,0.914,4,7.494,1.026
Denmark,3,7.527,0.87464,1,7.526,0.79504,2,7.522,0.792566,3,7.555,0.868,2,7.600,0.996
Norway,4,7.522,0.88521,4,7.498,0.79579,1,7.537,0.796667,2,7.594,0.861,3,7.554,1.028
Canada,5,7.427,0.90563,6,7.404,0.82760,7,7.316,0.834558,7,7.328,0.896,9,7.278,1.039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Rwanda,154,3.465,0.42864,152,3.515,0.31865,151,3.471,0.326425,151,3.408,0.400,152,3.334,0.614
Benin,155,3.340,0.31910,153,3.484,0.21028,143,3.657,0.209930,136,4.141,0.240,102,4.883,0.397
Syria,156,3.006,0.72193,156,3.069,0.62994,152,3.462,0.500533,150,3.462,0.539,149,3.462,0.440
Burundi,157,2.905,0.22396,157,2.905,0.15747,154,2.905,0.151611,156,2.905,0.145,145,3.775,0.380
Togo,158,2.839,0.28443,155,3.303,0.24811,150,3.495,0.247106,139,3.999,0.253,139,4.085,0.410

In [ ]:
#one chart for each of the 7 variables based on happieness score
#determine the number of countries
#statistical significance for the populations
#statistical analysis
#determine/interpret insights

In [ ]:
#gdp per capita & social support = alessio
#figure out next steps

In [ ]:
#dany Freedom

In [ ]:
#robert Generosity

In [ ]:
#cynthia trust & life expectancy